<section data-ng-controller="AboutusController">
	<div class="container text-center">
		<h2 >Quest for Career or Candidate</h2>
		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-user larger"></i>

				<h4>Qualified</h4>
				<p>
					Professionally screened candidates and jobs.
				</p>
			</div>
		</div><!--icon box column end-->
		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-user larger"></i>

				<h4>Available</h4>
				<p>
					Confirmed availability of jobs & candidates.
				</p>
			</div>
		</div><!--icon box column end-->
		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-user larger"></i>

				<h4>Committed</h4>
				<p>
					A trusted partner for you long term quest for careers.
				</p>
			</div>
		</div><!--icon box column end-->
	</div>
</section>
