
<section data-ng-controller="FootercontrollerController">
	<div class="wrap text-center">
		<div class="navbar-footer navbar-bottom">
			<ul class="nav navbar-nav">
				<li ui-route="/#!/" ng-class="{active: $uiRoute}">
					<a href="/#!/">Home</a>
				</li>
				<li ui-route="/aboutus" ng-class="{active: $uiRoute}">
					<a href="/#!/aboutus">About Us</a>
				</li>
				<li ui-route="/contactus" ng-class="{active: $uiRoute}">
					<a href="/#!/contactus">Contact Us</a>
				</li>
			</ul>
		</div>

	</div>
</section>

