<section data-ng-controller="HomeController">
<div>
	<div class="jumbotron specialjum body-content">
			<br/><br/><br/><br/><br/><br/>
			<div class="over container body-content">
				<h2 style="color:white">Your Quest for <i>Career</i></h2>
				<h4 style="color:white">Follow your passion, accelerate your career</h4>

				<form class="form-inline">
					<div class="form-group">
						<button type="submit" class="btn btn-danger">Get Hired</button>
						<button type="submit" class="btn btn-primary">Post Jobs</button>
					</div>
				</form>

		</div>
	</div>
</div>
</section>


<section data-ng-controller="AboutusController">
	<div class="container text-center aboutUs">
		<h2 >Quest for Career</h2>

		<br/><br/>

		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-education larger"></i>

				<h4>Qualified</h4>
				<p>
					Professionally screened candidates and jobs.
				</p>
			</div>
		</div><!--icon box column end-->
		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-user larger"></i>

				<h4>Available</h4>
				<p>
					Confirmed availability of jobs & candidates.
				</p>
			</div>
		</div><!--icon box column end-->
		<div class="col-sm-4 margin-btm30">
			<div>
				<i class="glyphicon glyphicon-leaf larger"></i>

				<h4>Committed</h4>
				<p>
					A trusted partner for you long term quest for careers.
				</p>
			</div>
		</div><!--icon box column end-->
	</div>
</section>

<section>

	<div class="container info_background" >
		<div class="row">
			<div>
				<h3 class="text-center">The most unique job marketplace</h3>
				<hr/>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
				<div class="row">
					<i class="glyphicon glyphicon-envelope large"></i>
				</div>
				<div class="row">
					<p style="font-size: medium">Post Job or Resume</p><br/>
					<p class="text-justify" style="font-size: smaller; padding-left: 5%;">We will provide maximum possible visibiliy of your
						posts. Whether you are job sicker or looking for job, we will try to match your skills to demands or vise versa.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row">
					<i class="glyphicon glyphicon-check large"></i>
				</div>
				<div class="row">
					<p style="font-size: medium">Get Qualified</p><br/>
					<p class="text-justify" style="font-size: smaller; padding-left: 5%">All our postings (both Resumes and Jobs) are
						qualified by our experts. Our expert will have initial discussion with you, so that you can count on us for both quality of
						candidate and availability of job.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row">
					<i class="glyphicon glyphicon-calendar large"></i>
				</div>
				<div class="row">
					<p style="font-size: medium">Schedule Interview</p><br/>
					<p class="text-justify" style="font-size: smaller; padding-left: 5%">We will manage the schedules of your interviews and help manage the end-to-end hiring process
						- sourcing of CVs/Jobs, schedule of interviews, negotiations and offer management.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row">
					<i class="glyphicon glyphicon-briefcase large"></i>
				</div>
				<div class="row">
					<p style="font-size: medium">Competitive Salary & Pricing</p><br/>
					<p class="text-justify" style="font-size: smaller; padding-left: 10%">We aim to provide most comprehensive pay package to our deserving candidates. Our employer service is
						priced very competitive compared to the value we add to the process.</p>
				</div>
			</div>

		</div>

	</div>
	<br/>
</section>
