@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.fontcolor{
	color: white;
}

.login-form-bg{
	background-color: whitesmoke;
	border: 15px solid;
	border-radius: 15px;
	border-color: whitesmoke;
	margin-top: 50px;
	margin-bottom: 30px;
}

.password-reset-form-bg{
	background-color: whitesmoke;
	border: 15px solid;
	border-radius: 15px;
	border-color: whitesmoke;

}

.update-btn {
	width:50%;
}

.resizeQuest{
	width:60%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 3%;
}

.bgimg_signUp {
	background-image: url('../img/page_learnmore.png');
	background-size: cover;
}

.bgimg_signIn {
	background-image: url('../img/signInGraphic.png');
	background-size: cover;
}

.resizeSocial {
	width: 35px;
	height: auto;
}

.cust-profile {
	font-size: 120px;
	padding-top: 7%;
}

.log-img {
	font-size: 120px;
	}
